@{ ViewData["Title"] = "Index"; }

<h1>Index!</h1>

<div>
    @Html.ActionLink("List transactions", "ListTransactions")
</div>

@*
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@